/*
@font-face {
	font-family: 'inconsolata_lgcregular';
	src: url('../fonts/inconsolata-lgc-webfont.woff2') format('woff2'),
		 url('../fonts/inconsolata-lgc-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inconsolata_lgcbold';
	src: url('../fonts/inconsolata-lgc-bold-webfont.woff2') format('woff2'),
		 url('../fonts/inconsolata-lgc-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
    font-family: 'LektonCodeRegular';
    src: url('../fonts/lektoncode/LektonCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LektonCodeBold';
    src: url('../fonts/lektoncode/LektonCode-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LightshadowRegular';
    src: url('../fonts/lightshadow/LightshadowRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* --- FONTS --- */

html, body,
input,
textarea,
input[type="button"],
input[type="submit"]
{
	font-family: 'LektonCodeRegular', sans-serif;
}
a
{
	font-family: 'LektonCodeBold', sans-serif;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
#ḧistoric a
{
	font-family: 'LightshadowRegular', sans-serif;
}

/* --- STUFF --- */

html, body {
	background: #191919;
	font-size: 15px;
	color: #f0ffff;
	padding: 0;
	margin: 0;
}
body {
	margin: 10px 10px 10px 45px;
}

a {
	 color: #fff;
	 text-decoration: none;
	 background: transparent;
	 padding: 1px 3px;
	 cursor: crosshair;
}
a:hover {
	color: #000;
	background: #fff;
}
a.anchor {
	background: none;
	padding: 0;
}

input {
	border: 0;
	padding: 1px 3px;
	color: #000;
	background: #fff;
}
input[type="button"],
input[type="submit"] {
	color: #fff;
	background: #333;
	cursor: help;
}
input[type="button"]:hover,
input[type="submit"]:hover {
	color: #000;
	background: #fff;
	cursor: e-resize;
}
input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	border: 1px dotted #fff;
	color: #000;
	background: #333;
	width: 12px;
	height: 12px;
	margin: 0 5px 0 0;
	padding: 0;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background: #fff;
}
textarea {
	color: #000;
	background: #ccc;
	font-size: 13px;
}

#search {
	margin: 10px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #f8f8f8;
	font-size: 16px;
}

table {}
td {
	border: none;
	padding: 5px;
	vertical-align: top;
}

.entries { margin-top: 10px; }
.entries tr:hover td { background: #393939; }

.entries td { width: 25%; }
.entries td.num { 
	width: 1px;
	background: #000;
}
.entries td h2 {
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 16px;
}
.entries td h2::before {
	content: " ";
	display: block;
	float: left;
	width: 13px;
	height: 13px;
	background: #888;
	margin: 1px 1px 0 0;
}

.entries table, table table td { border: none; }
.entries table td,
.entries tr:hover td td,
.help table td {
	background: #191919;
}
.entries table td:first-child,
.entries tr:hover td td:first-child,
.help table td:first-child {
	width: 1%;
	background: none;
}

hr {
	border: 1px dashed #555;
	border-bottom: none;
	margin: 15px 0;
}

.user {
	color: #4f0;
}

#data {
	padding-bottom: 25px;
}

#cmd {
	position: fixed;
	bottom: 0px;
	left: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	padding: 10px 0 35px 45px;
}
#ḧistoric {
	position: fixed;
	top: 10px;
	left: 5px;
}
#ḧistoric a {
	font-size: 12px;
}

#form_login,
#form_search {
	display: none;
}

.detail {
	max-width: 800px;
}
.detail h1 {
	margin: 15px 0 5px 0;
	text-transform: uppercase;
	font-size: 24px;
}
.detail h1::before {
	content: " ";
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	background: #888;
	margin: 0 10px 0 0;
}

.p_cool h1::before,
td.p_cool h2::before {
	background: #f00;
}
.t3 h1::before,
td.t3 h2::before {
	background: #f0f;
}

#ḧelp_content, #tmp, #tmp_page { display: none; }